{% extends "base.html" %}
{% block body %}
<div class="page-header">
	<h1>BVMF</h1>
</div>
<div class="col-md-4">
	<h2>Curvas</h2>
	<p>
		Estrutura a termo de taxas de juros.
	</p>
	<p><a class="btn" href="/bvmf/curves">detalhes »</a></p>
</div>
<div class="col-md-4">
	<h2>Futuros</h2>
	<p>
		Preços de ajuste de contratos futuros
	</p>
	<p><a class="btn" href="/bvmf/futures">detalhes »</a></p>
</div>
<div class="col-md-4">
	<h2>???</h2>
	<p>
		???
	</p>
	<p><a class="btn" href="#">detalhes »</a></p>
</div>
{% endblock %}
