<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %} Data Delivery the easiest way to share your data {% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Wilson Freitas">

	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/static/img/apple-touch-icon-57-precomposed.png">
  <!-- <link rel="shortcut icon" href="static/img/favicon.png"> -->
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/scripts.js"></script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">{% block header %} Data Delivery {% endblock %}</a>
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options<strong class="caret"></strong></a>
				<ul class="dropdown-menu">
					<li><a href="/bizdays/">bizdays</a></li>
					<li><a href="/bvmf/">BVMF</a></li>
					<li><a href="/anbima/">ANBIMA</a></li>
					<li><a href="/cetip/">CETIP</a></li>
					<!-- <li class="divider"></li> -->
				</ul>
			</li>
		</ul>
	</div>
</nav>
<div class="container" style="font-size: 75%;">
	<div class="row clearfix">
	{% block body %}
	{% endblock %}
	</div>
</div>
<br>
<footer class="bs-docs-footer" role="contentinfo">
	<div class="container">
		<p>Designed and built fro free.</p>
		<p>Maintained by <a href="https://github.com/wilsonfreitas">wf</a>.</p>
		<p>Code licensed under <a href="https://github.com/wilsonfreitas/data-delivery/blob/master/LICENSE" target="_blank">MIT</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
		<ul class="list-inline">
			<li>Currently v0.0.0</li>
			<li>·</li>
			<li><a href="https://github.com/wilsonfreitas/data-delivery">GitHub</a></li>
		</ul>
	</div>
</footer>
</body>
</html>
